/EjercicioIf/nbproject/private/
/EjemploSwitch/nbproject/private/
/EjemploSwitch/build/
/EjercicioSchool/nbproject/private/
/OperadorTernario/nbproject/private/
/EjercicioMerceria/nbproject/private/
/EjercicioDoWhile/nbproject/private/
/EjercicioDoWhile/build/
/EjercicioWhile/target/
/EjerciciosPracticos/target/
